#qrCode {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .selector {
    width: 300px !important;
    margin: 0px;
  }
  
  .dato {
    width: 100%;
    font-size: 14px;
  }
  
  h4 {
    font-size: 16px;
    padding: .3em;
    margin-top: 4px;
  }
  