/* Estilos generales */
.layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8f9fa; /* Fondo suave para el layout */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para la cabecera */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para el logo */
  .logo {
    height: 50px;
    width: auto;
  }
  
  /* Media Query para pantallas peque침as (m치ximo 767px) */
@media (max-width: 767px) {
  .layout-container {
    padding: 8px; /* Reducir el padding en pantallas peque침as */
  }

  .header {
    flex-direction:row; 
    align-items: flex-start; /* Alinear los elementos a la izquierda */
  }

  .logo {
    height: 50px; /* Ajustar el tama침o del logo */
  }
}
